* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      to right bottom,
      rgba(41, 56, 76, 0.8),
      rgba(131, 141, 160, 0.8)
    ),
    url(images/background-blue.jpg);
  background-position: center;
  background-size: cover;
  color: #e8e9e9;
  font-family: 'Gowun Dodum', sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.2rem;
  justify-content: space-around;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.timer {
  display: flex;
  flex-direction: column;
}

.time-left {
  align-self: center;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: inherit;
}

.meditate-btn {
  background-color: transparent;
  border: 0.2rem solid #e8e9e9;
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: inherit;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  align-self: center;
}

.meditate-btn:hover {
  transform: scale(1.2);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18.75rem;
  width: 18.75rem;
  position: relative;
  font-size: 1.25rem;
  transform: scale(1);
  margin: 5rem;
}

.gradient-circle {
  background: conic-gradient(
    #838da0 0%,
    #838da0 40%,
    #e8e9e9 40%,
    #e8e9e9 60%,
    #444352 60%,
    #444352 100%
  );
  height: 20rem;
  width: 20rem;
  top: -0.6rem;
  left: -0.6rem;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
}

.circle {
  background-color: #29384c;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
}

.pointer-container {
  position: absolute;
  top: -2.5rem;
  left: 8.75rem;
  width: 1.25rem;
  height: 11.9rem;
  transform-origin: bottom center;
}

.pointer {
  background-color: #e8e9e9;
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  display: block;
}

.grow {
  animation: grow 3s linear forwards;
}

.shrink {
  animation: shrink 3s linear forwards;
}

.paused {
  animation-play-state: paused;
}

.colours {
  display: flex;
  width: 40rem;
  justify-content: space-between;
}

.colour {
  border: 0.2rem solid #e8e9e9;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.colour:hover {
  transform: scale(1.2);
}

.red {
  background-image: linear-gradient(
    to right bottom,
    rgba(34, 8, 8, 0.8),
    rgba(175, 41, 4, 0.8)
  );
}

.purple {
  background-image: linear-gradient(
    to right bottom,
    rgba(43, 38, 58, 0.8),
    rgba(128, 112, 184, 0.8)
  );
}

.blue {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 56, 76, 0.8),
    rgba(131, 141, 160, 0.8)
  );
}

.green {
  background-image: linear-gradient(
    to right bottom,
    rgba(53, 70, 27, 0.8),
    rgba(142, 178, 102, 0.8)
  );
}

.yellow {
  background-image: linear-gradient(
    to right bottom,
    rgba(67, 42, 14, 0.8),
    rgba(195, 153, 93, 0.8)
  );
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
